body{
    margin: 0%;
    font-family: 'Acme', sans-serif;
}
h1{
    font-size: 50px;
}

p{
    color:darkslategrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
}
.name-colour{
    color: rgb(41, 7, 122);
}
.welcome-colour{
    color: rgb(158, 6, 19);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    width: 70%;
    padding: 40px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #313161, purple);
    border-radius: 5px;
    padding: 10px 20px;
    color: papayawhip;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}


.description{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.developer-color{
    color: rgb(68, 3, 3);
}
.second-title{
    color: rgb(247, 202, 3);
}
.single-experience{
box-shadow: 10px 10px 40px gray; 
border-radius: 5px;
height: 250px;
background-color: white;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(184, 6, 6), rgb(85, 68, 151));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(85, 85, 236), green);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 12px;
}